---
import Layout from '../components/Layout.astro';
import HeaderLink from '/src/components/HeaderLink.astro';
import Header from '../components/Header.astro';
---
<head>
  <meta charset="UTF-8">
</head>
<Header/>
<Layout title="Mrtartaria y Micky Mouse empirico">
	<main>
    <h1>Mr tartaria y Micky Mouse empirico</h1>
    <hr>
    <p>Adéntrate en las fascinantes biografías de dos individuos extraordinarios: Mr. Tartaria y Micky Mouse Empírico.</p>
    <p>Conocido por sus asombrosas hazañas, Mr. Tartaria se ganó la fama al salvar al mundo de una inminente catástrofe volcánica utilizando la misteriosa Lengua de Fuego. Además, su vida estuvo marcada por la predicción y vivencia del enigmático reset de Tartaria, que abarcó el periodo de 1745 a 1750. Descubre los secretos detrás de este personaje único y su impacto en la historia.</p>
    <p>En el otro extremo del espectro se encuentra Micky Mouse Empírico, cuya visión del mundo desafía las convenciones. Firme en su convicción de que la Tierra es plana y adopta la forma de un toroide electromagnético, Micky Mouse Empírico nos invita a cuestionar las percepciones tradicionales y explorar los límites de la realidad.</p>
    <p>Embárcate en un viaje hacia lo desconocido mientras desentrañamos los misterios que rodean a estos dos individuos excepcionales. Las biografías de Mr. Tartaria y Micky Mouse Empírico te transportarán a un mundo de ideas intrigantes y visiones únicas.</p>
	</main>
  <div class="container" id="btn-container">
    <HeaderLink href="/Mrtartaria">Mr tartaria</HeaderLink>
    <HeaderLink href="/MickyMouse">Micky Mouse empirico</HeaderLink>
  </div>
  <div class="container" id="img-container">
    <img src="/src/img/MrTartaria.jpg" height="400" width="400"/>
    <img src="/src/img/meme.png" height="400" width="400"/>
  </div>
</Layout>

<style>
  main {
    color: white;
    background-color: rgb(51, 50, 50);
    text-align: center;
  }
  p {
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #img-container img {
    margin: 10px;
    border-radius: 15px;
  }
</style>
