---
import Layout from '../components/Layout.astro';
import Header from '../components/Header.astro';

---
<head>
    <meta charset="UTF-8">
</head>
<Header/>
<Layout title = "Micky Mouse empirico">
    <h1>Micky Mouse empirico</h1>
    <hr>
    <p>Adentrémonos en la singular narrativa de Micky Mouse Empírico, un pensador cuyas creencias desafían las convenciones establecidas. En el corazón de su visión única del mundo yace la firme convicción de que la Tierra es plana, adoptando la forma de un toroide electromagnético.
    </p>
    <p>Micky Mouse Empírico se destaca como un individuo que se aventura más allá de las fronteras de la percepción convencional, desafiando las nociones aceptadas sobre la estructura misma de nuestro planeta. A través de sus perspectivas audaces, invita a la reflexión y cuestionamiento, desafiando a aquellos dispuestos a explorar los límites de la comprensión convencional.
    </p>
    <p>Este pensador iconoclasta nos invita a considerar nuevas posibilidades, a desafiar nuestras suposiciones arraigadas y a explorar las profundidades de la teoría que propone. A medida que exploramos la vida y las ideas de Micky Mouse Empírico, nos sumergimos en un viaje donde la imaginación y la audacia convergen, ofreciendo una perspectiva única y provocadora que incita a repensar nuestro entendimiento del mundo que habitamos.
    </p>
    <img src = "/src/img/Mickymouse.png" width="400" height="400"/>
</Layout>

<style>    
    p{
    font-weight: bold;
    color: white;
    }
    img{
    margin: 10px;
    border-radius: 15px;
    }
    h1{
        color: white;
    }
</style>